@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #0e2431;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0e2431;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #0e2431;
}
.cabecalho {
  width: 100%;
  float: left;
  padding: 1% 10%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 6;
}
.logo {
  width: 200px;
  height: 50px;
  float: left;
  font-size: 22px;
  color: #000;
  font-weight: 600;
  line-height: 56px;
}
h1 span {
  color: #f00;
}
.btn-menu {
  float: right;
  text-align: center;
  color: #000;
  cursor: pointer;
  font-size: 2em;
  line-height: 56px;
  background-color: transparent;
}
.btn-close {
  float: right;
  color: #fff;
  cursor: pointer;
  font-size: 2em;
  margin-right: 10%;
  margin-top: 2%;
}

/*Menu*/
.da button:hover {
  color: #4169e1;
}
.menu {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #4169e1;
  top: 0;
  left: 0;
  display: none;
}
.menu ul {
  text-align: center;
  width: 100%;
  float: left;
}
.menu li {
  padding: 3%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.menu li a:hover {
  text-decoration: underline;
  color: #4169e1;
}
.menu li a {
  color: #fff;
  padding: 2% 3%;
  font-size: 1.5em;
  font-weight: 600;
}
.menu li button {
  border: 0;
  margin: 0px 0px 0px 20px;
  color: #fff;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}
/*Fim Menu*/

/*Cabeçalho*/
header {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 150px;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  header {
    padding: 75px;
  }
}
header #apresentacao {
  width: 60%;
  padding-right: 25px;
  flex-direction: column;
}
@media screen and (max-width: 1000px) {
  header #apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding-right: 0px;
  }
}
header #apresentacao h2 {
  font-size: 16px;
  font-weight: 400;
}
header #apresentacao #nome {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 900;
}
header #apresentacao h2 #cargo {
  font-size: 1.06rem;
  text-transform: uppercase;
}
header #apresentacao button {
  background-color: #4169e1;
  color: #fff;
  padding: 15px;
  width: 200px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
header #apresentacao button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 #4169e1 inset, 0 0 10px 4px #4169e1;
}
header #apresentacao .footer-social {
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  color: #0e2431;
}
header #apresentacao .footer-social i {
  font-size: 24px;
}
header #apresentacao .footer-social i:hover {
  cursor: pointer;
  color: #091a24;
}
@media screen and (max-width: 1000px) {
  header #apresentacao .midiasSociais {
    padding: 40px 0px;
    margin: 0 auto;
  }
}
header #apresentacao-foto {
  width: 40%;
  transform: scaleX(-1);
  position: relative;
}
header #apresentacao-foto img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1000px) {
  header #apresentacao-foto {
    display: none;
  }
}
/*Fim Cabeçalho*/

/*Main sobre*/
main #sobre {
  padding: 50px 150px;
  background-color: #fafafa;
}
@media screen and (max-width: 1000px) {
  main #sobre {
    padding: 70px 20px;
  }
}
main #sobre #sobre-mim {
  display: flex;
  padding: 25px 0px;
  align-items: center;
}
main #sobre #sobre-foto {
  width: 40%;
}
@media screen and (max-width: 1000px) {
  main #sobre #sobre-foto {
    display: none;
  }
}
main #sobre #sobre-texto {
  width: 60%;
  padding-left: 25px;
}
@media screen and (max-width: 1000px) {
  main #sobre #sobre-texto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    text-align: center;
    color: #0e2431;
  }
}
main #sobre #sobre-texto h3 {
  padding-bottom: 20px;
  font-size: 30px;
}
main #sobre #sobre-texto p {
  line-height: 30px;
}
main #sobre button {
  background-color: #4169e1;
  color: #fff;
  padding: 15px;
  width: 200px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
main #sobre button:hover {
  cursor: pointer;
  background-color: #4169e1;
}
/*Fim Main sobre*

/*Main projeto*/
main #projetos {
  padding: 70px;
}
main #projetos h2 {
  text-align: center;
  margin-top: 20px;
  color: #0e2431;
  font-size: 30px;
}
main #projetos article {
  padding: 25px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
}
main #projetos article div:hover {
  box-shadow: 5px 5px 10px#4169e1;
  -webkit-box-shadow: 5px 5px 10px #4169e1;
  -moz-box-shadow: 5px 5px 10px #4169e1;
}
main #projetos article div {
  height: 250px;
  flex-grow: 1;
  flex-basis: 300px;
  background-color: #fafafa;
  padding: 40px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #cacaca;
  position: relative;
}
main #projetos article div h3 {
  font-size: 1.4rem;
}
main #projetos article div p {
  padding: 10px 0px;
  font-size: 0.9rem;
}
main #projetos article div .btn-projeto {
  position: absolute;
  bottom: 40px;
  left: 40px;
}
main #projetos article div .btn-live:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 #4169e1 inset, 0 0 10px 4px #4169e1;
}
main #projetos article div .git-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 #4169e1 inset, 0 0 10px 4px #4169e1;
}
main #projetos article div a {
  margin-right: 10px;
}
main #projetos article div .btn-live {
  background-color: #4169e1;
  padding: 10px 20px;
  color: #fff;
  border: 0;
  font-weight: 500;
  font-size: 14px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
main #projetos article div .git-btn {
  width: 35px;
  height: 35px;
  font-size: 20px;
  border-radius: 50%;
  background-color: #4169e1;
  color: #fff;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}
main #projetos article div h4 i {
  color: #4169e1;
}
@media screen and (max-width: 800px) {
  main #projetos {
    padding: 70px 10px;
  }
}
/*Fim main projeto*/

/*Conhecimentos*/
#conhecimentos {
  width: 100%;
  padding: 70px;
  overflow: hidden;
}
#conhecimentos h2 {
  text-align: center;
  margin-top: 20px;
  color: #0e2431;
  font-size: 30px;
}
#conhecimentos div {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  margin-top: 25px;
}
#conhecimentos div article {
  text-align: center;
  height: auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  margin: 10px;
  flex-basis: 250px;
  flex-grow: 1;
  box-shadow: 0px 0px 20px rgb(231, 231, 231);
  transition: all 0.5s;
}
#conhecimentos div article:hover {
  box-shadow: 5px 5px 10px#4169e1;
  -webkit-box-shadow: 5px 5px 10px #4169e1;
  -moz-box-shadow: 5px 5px 10px #4169e1;
}
.imageIcone {
  width: 50px;
}
/*Fim conhecimentos*/

/*Footer*/
footer {
  padding: 50px 10px;
  background-color: #0e2431;
  text-align: center;
}
footer p {
  color: #fff;
  padding: 25px;
  font-size: 14px;
  font-weight: 200;
}
footer i:hover {
  color: red;
}
footer #footer-social {
  margin: 0 auto;
}
footer #footer-social i {
  padding: 0px 20px;
  color: #fff;
  font-size: 24px;
}
footer #footer-social i:hover {
  cursor: pointer;
  color: #4169e1;
}
/*Fim footer*/

/*media query responsivo*/
@media screen and (min-width: 1100px) {
  .btn-menu {
    display: none;
  }
  .btn-close {
    display: none;
  }
  .cabecalho {
    background-color: #fff;
    box-shadow: 0px 0px 3px rgba(44, 44, 44, 0.267);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .menu {
    width: auto;
    height: 56px;
    line-height: 56px;
    float: right;
    background-color: #fff;
    display: block !important;
    position: static;
  }
  .menu li {
    padding: 0;
    float: left;
  }
  .menu li a {
    color: #0e2431;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
  }
  .menu li button {
    color: #000;
  }
}
